@model FotoEvents.Models.EventModel
@{
    ViewBag.Title = "Create";
}

<h2>Загрузить фото в альбом @Model.Title </h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
   
   
}
<div class="jumbotron" >
    <form action="~/Albums/SaveUploadedFile?EventID=@Model.EventModelID"  method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="width:initial; background: none; border: none;">
        <div class="dz-message" data-dz-message><span>Для загрузки переместите фотографии в это поле</span></div>
        <div class="fallback" >
            
            <input name="file" type="file" multipl />
            <input type="submit"  value="Upload" />
           
        </div>
    </form>
</div>
<div>
    @Html.ActionLink("Вернуться к списку албомов", "Index")
</div>




@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    Dropzone.options.dropzoneForm = {
        acceptedFiles: "image/*",
        init: function () {
            var thisDropzone = this;


            $.getJSON("/Albums/GetAttachments/").done(function (data) {
                if (data.Data != '') {

                    $.each(data.Data, function (index, item) {
                        //// Create the mock file:
                        var mockFile = {
                            name: item.AttachmentID,
                            size: 12345
                        };

                        // Call the default addedfile event handler
                        thisDropzone.emit("addedfile", mockFile);

                        // And optionally show the thumbnail of the file:
                        thisDropzone.emit("thumbnail", mockFile, item.Path);

                        // If you use the maxFiles option, make sure you adjust it to the
                        // correct amount:
                        //var existingFileCount = 1; // The number of files already uploaded
                        //myDropzone.options.maxFiles = myDropzone.options.maxFiles - existingFileCount;
                    });
                }

            });


        }
    };
</script>



}
