@{
    ViewBag.Title = "О фотоальбоме";
    ViewBag.Message = "Фотоальбом  мероприятий";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Пример использования MVC, EntityFramework, Bootstrap на ASP.NET</p>
