@{
    ViewBag.Title = "Контактная информация";
    ViewBag.Message = "Максим Исанькин";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    РФ, РТ, г. Казань<br />
    <abbr title="Моб. телефон">Тел:</abbr>
    +7 (987) 293-47-97
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>